@import url(./reutilizar.css);
@import url(./ocultos.css);

body{
  margin: 0 auto;
  background-image: url(./img/bg.jpg);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, p{
  margin: 0px;
  padding: 0px;
}

.container{
  display: grid;
  flex-direction: column;
  height: 100vh;
  place-content: center center;
  gap: 20px;
}

.titulo{
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
  font-size: 3.5rem;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.form{
  display: grid;
  gap: 20px;
}

.form .campo-form:nth-child(2){
  margin-top: 30px;
}

.campo-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.submit{
  grid-column: 1/-1;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}